@CHARSET "UTF-8";
* { margin:0; padding:0; }
body,div,td { color:#000000; font-family:sans-serif; font-size:12px; }
fieldset { padding-left: 5px; position: relative; padding-top:0em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
fieldset legend { font-weight: bold; font-size: 10pt; margin-left: 0px; background-color: #FFFFFF; padding: 0px 1px 0px 1px; border: 1px solid; position: relative; top:-0.6em; }
img { border:none; }
input,select { font-family:sans-serif; font-size:12px; }
table,td { border:1px solid #FFF; }
td { padding-left:2px; padding-right:2px; border-bottom:1px dotted #dcdcdc; }
.clear_both { float: none; clear: both; height: 1px; }