* {
    @extend .noMarginNoPadding;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    outline: none;
    z-index: 0;
}
a {
    color: #666;
    //color: #0000FF;
    text-decoration: none;
}
a:focus,
a:hover {
    color:#ee3124;
}
a:active {
    color:#919191  !important;
}
body {
    color:#{$backgroundColor};
    width:100%;
}
fieldset {
    @extend .rounded;
    border:#{$companyColor} 2px solid;
    margin: 8px;
    padding: 10px;
}
h1 {
    @extend .greyThinShaddow;
}
h2 {
    padding-left:5px;
    @extend .resetOnly;
    @extend .greyThinShaddow;
}
hr {
    margin:0px;
    line-height: 1px;
}
img {
    border:none;
    @extend .rounded;
}
img[onclick*='javascript:NewCssCal'],img[title*='data emiterii'],img[alt='Logo'],img[height='16'][width='16'],img[width='16'][height='16'],img:hover {
    border-radius:0px !important;
}
label,.fake_label {
    position:absolute;
    margin-left:5px;
    width:205px;
    border-bottom:1px dotted #dcdcdc;
}
legend {
    @extend .rounded;
    @extend .whiteThinShaddow;
    @extend .importantText;
    margin-left: 10px;
    padding-left:6px;
    padding-right:6px;
    @extend .companyGradient;
}
p {
    color:#{$backgroundColor};
}
sub, sup {
    font-size:x-small;
}
ul {
    margin-left: 30px;
}
.box_color {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #ccc;
    margin-bottom: 5px;
    z-index:990;
    p {
        text-indent: 15px;
        text-align: justify;
    }
}
.box_color:hover {
    border: 1px solid #{$companyColor};
}
.box_legend {
    position: relative;
    top:-1.5em;
}
.box_upper_right_corner {
    background-color:yellow;
    border:2px red solid;
    float:right;
    padding:2px;
    position:fixed;
    right:5px;
    top:5px;
    width:150px;
}
.boxing_title {
    display: block;
    padding: 1px 2px 1px 5px;
    font-weight: bold;
    text-indent: 0px;
    @extend .greyThinShaddow;
}
.fatal_error {
    background-color:red;
    color:#FFF;
    font-size:larger;
    font-weight:700;
}
.greyThinShaddow {
    text-shadow: 1px 1px 2px #999999;
}
.high_contrast {
    background-color: #FD0305;
    color:#000;
}
.importantText {
    font-weight:bold;
}
.input_readonly {
    background-color:#D3D3D3;
}
.labell {
    margin-left:210px;
}
.moduleLeft {
    line-height: 18px;
    padding-left: 18px;
}
.mmbtn {
    color: #000000;
    border: inset #ff0000;
    border-radius: #{$defaultRoundedRadius};
    @extend .gradientGreyGloss2;
    text-shadow: 1px 1px 1px #FFF;
}
.mmbtn:hover {
    @extend .gradientYellowTopToWhiteBottom;
}
.noMarginNoPadding {
    margin:0px;
    padding:0px;
}
.paddingRight18px {
    padding-right: 18px;
}
.resetOnly {
    float:none;
    clear:both;
}
.reset {
    height:1px;
    @extend .resetOnly;
}
.rounded {
    border-radius: #{$defaultRoundedRadius};
}
.roundedTopOnly {
    -moz-border-radius: #{$defaultRoundedRadius} #{$defaultRoundedRadius} 0px 0px;
    -webkit-border-radius: #{$defaultRoundedRadius} #{$defaultRoundedRadius} 0px 0px;
    border-radius: #{$defaultRoundedRadius} #{$defaultRoundedRadius} 0px 0px;
}
.rowGroup {
    @extend .importantText;
    text-shadow: 2px 1px 1px #FFF;
    margin-top:1em;
    font-weight: bold;
    color: #000000;
    padding-left:10px;
    @extend .gradientLightGreyTopToWhiteBottom;
}
.spaced {
    padding: 2px 2px 2px 2px;
}
.success {
    background-color: green;
    color:#FFF;
    font-size:larger;
    font-weight:700;
}
.upperRightBox {
    background-color:white;
    border:#000 2px solid;
    padding:5px;
    position:fixed;
    right:5px;
    top:100px;
    z-index:999;
    border-radius: 5px;
    table tr td {
        font-size:12px;
    }
}
.warning {
    background-color: red;
    color:#FFF;
    font-size:larger;
    font-weight:700;
}
.whiteThinShaddow {
    text-shadow: 1px 1px 1px #FFF;
}
