input,select,textarea {
    @extend .rounded;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 4px rgba(0,0,0,.24);
    border: 1px inset #{$foregroundColor};
}
input:hover,label:hover,select:hover,textarea:hover {
    background-color:#{$highlightedElement};
    outline: none;
}
input[type="button"],input[type="reset"],input[type="submit"] {
    @extend .rounded;
    box-shadow:none;
    margin:0.5em;
    padding:0.5em;
    color:#{$foregroundColor};
    @extend .importantText;
    @extend .greyThinShaddow;
    @extend .gradientGrey1;
}
input[type="button"]:hover,input[type="submit"]:hover {
    @extend .gradientGreenLightToDark;
    color:#{$backgroundColor};
}
input[type='checkbox'],input[type='radio'] {
    box-shadow: none;
    border: none;
}
input[type='reset'] {
    background-color: #FF0000;
}
input[type='text']:focus,input[type='password']:focus,textarea:focus {
    background-color:#{$highlightedElement};
    margin-bottom:5px;
    padding-left: 5px;
    box-shadow: 0 0 10px #ff0000;
    -moz-box-shadow: 0 0 10px #ff0000;
    -webkit-box-shadow: 0 0 10px #ff0000;
    z-index: 999;
}
label,.fake_label {
    position:absolute;
    margin-left:5px;
    width:215px;
    border-bottom:1px dotted #dcdcdc;
}
label:hover {
    background-color:#{$highlightedElement};
}
select[size='1'] option:hover {
    background-color:#{$highlightedElement};
    color:#ff0000;
}
.fake_label:hover {
    background-color:#{$highlightedElement};
}
.inputOptional {
    color: green;
    display: inline-block;
    font-weight: bold;
    width: 20px;
    vertical-align: top;
}
.inputMandatory {
    @extend .inputOptional;
    color: red;
}
.labell {
    margin-left:220px;
}
.labell:hover {
    background-color:#{$highlightedElement};
}
.placeholder {
    color: #666; 
}
