.tabber {
    float:left;
    overflow:auto;
}
.tabbertab {
    background-color: #FFF;
}
.tabberlive {
    margin-top:16px;
}
ul.tabbernav {
    border-bottom:1px solid #ccc;
    @extend .importantText;
    font-size:12px;
    margin:0;
    padding:3px 0;
    li {
        list-style:none;
        display:inline;
        margin:0;
        a {
            border:1px solid #ccc;
            border-bottom:none;
            border-top-left-radius:#{$defaultRoundedRadius};
            border-top-right-radius:#{$defaultRoundedRadius};
            font-weight:normal;
            margin-left:3px;
            padding:3px 8px;
            text-decoration:none;
            @extend .gradientLightGreyTopToWhiteBottom;
        }
        a:hover {
            border:1px solid #ccc;
            color:#000;
            @extend .gradientYellowTopToWhiteBottom;
        }
        a:link {
            color:#448;
        }
        a:visited {
            color:#667;
        }
    }
    li.tabberactive {
        a {
            border-bottom:1px solid #fff;
            font-weight:bold;
            @extend .gradientOrangeTopToWhiteBottom;
        }
        a:hover {
            border:1px solid #ccc;
            border-bottom:1px solid #fff;
            color:rgba(255,255,0,1);
            @extend .gradientTopRedToWhiteBottom;
        }
    }
}
.tabberlive .tabbertab {
    border:1px solid #ccc;
    border-top:0;
    margin:0;
    padding:10px;
}
.tabberlive#tab2 .tabbertab {
    height:200px;
    overflow:auto;
}
.tabberlive .tabbertabhide,.tabberlive .tabbertab h2,.tabberlive .tabbertab h3 {
    display:none;
}