table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    thead {
        tr {
            th {
                width: auto !important;
                position: relative !important;
                z-index: auto !important;
            }
        }
    }
}
table, td, th {
    border: 1px solid #FFF;
}        
td {
    border-bottom:1px dotted #ccc;
    @extend .leftRightSpacing;
}
td:hover {
    @extend .gradientYellowSpaceWithWhiteCenter;
    color: #000 !important;
}
th {
    border: 1px inset #FFF;
    box-shadow:none;
    color: #333333;
    @extend .gradientLightGreyTopToWhiteBottom;
    @extend .importantText;
    @extend .whiteThinShaddow;
}
th:hover {
    @extend .gradientYellowTopToWhiteBottom;
}
tr:nth-child(even) {
    @extend .gradientGreyGlassHorizontal;
}
tr:nth-child(odd) {
    background: #FFF;
}
tr:hover {
    background:$highlightedElement !important;
    color:$backgroundColor !important;
    @extend .whiteThinShaddow;
}
.cell_right {
    text-align: right;
}
.cell_smaller {
    font-size: 0.75em;
}
.leftRightSpacing {
    padding-left:2px;
    padding-right:2px;
}
