* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    outline: none;
}
a {
    text-decoration:none;
}
h1 {
    font-size: xx-large;
}
@import "base.scss";
@import "base.2014.scss";
@import "form.scss";
@import "gradients.scss";
@import "tabber.scss";
@import "table.scss";
@import "salariu.scss";
