h1 {
    font-size: xx-large;
}
@import "../../vendor/danielgp/common-styles/scss/baseLight.scss";
@import "../../vendor/danielgp/common-styles/scss/common.scss";
@import "../../vendor/danielgp/common-styles/scss/form.scss";
@import "../../vendor/danielgp/common-styles/scss/gradients.scss";
@import "../../vendor/danielgp/common-styles/scss/tabber.scss";
@import "../../vendor/danielgp/common-styles/scss/table.scss";
@import "../../vendor/danielgp/common-styles/scss/upperRightBox.scss";
.author {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.disclaimer {
    @extend .gradientGreyGloss2;
    border: solid;
    border-color: grey;
    border-radius: 3px;
    clear: both;
    color: #CC0000;
    float: none;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    max-width: 95%;
    min-width: auto;
    padding: 3px;
    text-align: center;
    width: auto;
}
